.tm-banner{
    width:100%;
    height:25rem;
    background:url(../images/blog/new_banner.jpg) no-repeat;
    background-size:150% 100%;
    background-position: 50% 0;
}

.view-text a{
  float: right;
}