/*�ֲ�ͼ*/

.img-lb {
    width: 100%;
}

.img-p {
    position: relative;
    height: 500px;
}

.img-p img {
    width: 100%;
    height: 100%;
}

.img-p .item-position {
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    max-width: 400px;
}

.quick {
    padding: 1.2rem 0;
}

.quick img {
    width: 57px;
    height: 57px;
}

.product-img {
    height: 45px;
}


/*ͼ����*/

.product-border {
    border-bottom: 2px solid transparent;
}

.product-border a {
    color: #000;
}

.product-border:hover {
    border-bottom-color: deepskyblue;
}

.product-item {
    background: #f8fbff;
}

.product-item div {
    font-size: 14px;
    color: #999;
}

.case .case-img {
    display: block;
    width: 100% !important;
}